#cel {
  border-collapse: collapse;
}
.pack_txt{
  background-color: #F5F5F5;
  width: 99%;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
}
.input_txt{
  font-size: 20px;
  background-color: #F5F5F5;
  height: 48px;
  width: 98%;
  border: none;
}
.td_49{
  width: 49%;
  border-width: 1px 0px;
  border-color: white;
  border-style: solid;
  height: 50px;
}
